body {
  margin: 0px;
}

.search_field_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.search_field {
  min-width: 100px;
  width: 40vw;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: lightgray;
}

.feature1_image {
  width: 30vw;
  height: 50vh;
  background-size: cover;
  border-radius: 10px;
  transition: ease-in-out 0.1s;
}

.feature1_image:hover {
  scale: 1.03;
  cursor: pointer;
}

.feature2_image:hover {
  scale: 1.03;
  cursor: pointer;
}

.feature2_image {
  width: 20vw;
  height: 23vh;
  background-size: cover;
  border-radius: 10px;
  transition: ease-in-out 0.1s;
}
